@media screen and (min-width: 576px) {
  /* reboot bootstrap */
  .container {
    max-width: 1196px;
  }

  .container-xl {
    max-width: 1364px;
  }

  /* custom styles */
  .title-1 {
    font-size: 2.75rem;
  }

  .title-2 {
    font-size: 2rem;
  }

  .title-3 {
    font-size: 1.5rem;
  }

  .title-4 {
    font-size: 1.375rem;
  }

  /* navbar-main */

  .brand .logo {
    max-width: 146px;
  }

  /* hero */
  .hero .section-img > img {
    width: 65vw;
  }

  .hero .section-img::after {
    width: 500px;
    height: 500px;
    right: -40%;
  }

  /* consider crypto */
  .crypto-list .crypto-item:nth-of-type(1) {
    margin-top: 0;
  }

  .crypto-list .crypto-item:nth-of-type(3) {
    margin-top: 0;
  }

  .crypto-list .crypto-item:nth-of-type(1) .title-6::before,
  .crypto-list .crypto-item:nth-of-type(3) .title-6::before {
    width: 236px;
    height: 116px;
    bottom: 2rem;
    left: -0.75rem;
  }

  /* how it works */
  .how-it-works .card .card-body .title-6 {
    font-size: 1.125rem;
  }

  .how-it-works .card .card-body .text-5 {
    font-size: 0.875rem;
  }

  .how-it-works .section-img {
    margin-bottom: 80px;
  }

  .how-it-works .section-img > img {
    max-width: 70%;
  }

  .how-it-works .section-img .card {
    width: 65%;
    left: 25%;
    bottom: -5rem;
  }

  .how-it-works .section-img .card-body {
    gap: 1.5rem;
    padding: 1.875rem 1.5rem;
  }

  .how-it-works .section-img .icon svg {
    height: 2.5rem;
  }

  .how-it-works .section-img .title-6 {
    font-size: 1.125rem !important;
  }

  .how-it-works .section-img .text-5 {
    font-size: 0.875rem !important;
  }

  /* security  */
  .security .card .text-5 {
    font-size: 1rem;
  }

  /* testimonial */
  .testimonial-splider .card .icon {
    top: 2rem;
    left: 3rem;
  }

  .testimonial-splider .card .icon > svg {
    max-width: 83px;
  }

  .testimonial-splider .text-6 {
    font-size: 1rem;
  }

  .testimonial-splider .splide__track {
    padding-bottom: 3rem;
  }

  .testimonial-splider .is-active {
    box-shadow: 0px 39.5463px 79.0927px rgba(15, 33, 55, 0.06);
  }
}

@media screen and (min-width: 768px) {
  /* custom styles */
  .section {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .title-1 {
    font-size: 3.125rem;
  }

  .title-2 {
    font-size: 2.5rem;
    margin-bottom: 3.75rem;
  }

  .title-3 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .title-4 {
    font-size: 1.5rem;
  }

  .title-5 {
    font-size: 1.25rem;
  }

  .title-6 {
    font-size: 1.125rem;
  }

  .text-2 {
    font-size: 1.5rem;
  }

  .text-3 {
    font-size: 1.125rem;
  }

  .surplus-btn {
    font-size: 1.125rem;
    padding: 1.275rem 3.75rem;
  }

  /* navbar-main */
  .nav-links {
    opacity: 1;
    visibility: visible;
    position: static;
    margin-right: unset;
    width: auto;
  }

  .brand .logo {
    max-width: 186px;
  }

  /* hero */
  .hero.section {
    padding-top: 12rem;
  }

  .hero .section-img > img {
    width: 610px;
  }

  .hero .section-img::after {
    width: 760px;
    height: 760px;
    right: -36%;
  }

  /* consider crypto */
  .crypto-list {
    padding-left: 5rem;
  }

  .crypto-list .crypto-item {
    max-width: 265px;
  }

  .crypto-list .crypto-item::before {
    font-size: 76px;
    line-height: 1.1;
  }

  .crypto-list .crypto-item:nth-of-type(1) .title-6::before,
  .crypto-list .crypto-item:nth-of-type(3) .title-6::before {
    background-image: url("../images/curve-line-sm.png");
    width: 346px;
    height: 176px;
    bottom: 2rem;
    left: -0.75rem;
  }

  /* stats */
  .stats .title-2 {
    margin-bottom: 5rem;
  }

  .output__calc {
    padding: 30px 40px;
    font-size: 1.5rem;
    max-width: 295px;
  }

  /* how it works */
  .how-it-works .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  /* security */
  .security .icon img {
    height: 3.25rem;
  }

  /* crypto-industry */
  .crypto-industry .list-items {
    display: grid;
    grid-template-areas: "item1 item4" "item2 item5" "item3 item6";
    gap: 1.5rem 1rem;
    margin-bottom: 2rem;
  }

  .crypto-industry .list-items .item:nth-of-type(1) {
    grid-area: item1;
  }

  .crypto-industry .list-items .item:nth-of-type(2) {
    grid-area: item2;
  }

  .crypto-industry .list-items .item:nth-of-type(3) {
    grid-area: item3;
  }

  .crypto-industry .list-items .item:nth-of-type(4) {
    grid-area: item4;
  }

  .crypto-industry .list-items .item:nth-of-type(5) {
    grid-area: item5;
  }

  .crypto-industry .list-items .item:nth-of-type(6) {
    grid-area: item6;
  }

  .crypto-industry .list-items .item .text-4 {
    font-size: 1rem;
  }

  .crypto-industry .list-items .item {
    gap: 1.5rem;
  }

  .crypto-industry .list-items .item::before {
    font-size: 1.875rem;
    width: 72px;
    height: 72px;
  }

  /* footer */
  .footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .item-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
}

@media screen and (min-width: 992px) {
  /* navbar-main */

  .brand .logo {
    max-width: 206px;
  }

  /* hero */
  .hero .section-img {
    margin-bottom: 0;
  }

  .hero .section-img::after {
    width: 600px;
    height: 600px;
    right: -50%;
    top: 0;
  }

  /* consider crypto */
  .crypto-list {
    grid-template-areas:
      ". . . . item2 item2 item2 . . . . ."
      "item1 item1 item1 . . . . . . item5 item5 item5"
      ". . . . .  item4 item4 item4 . . . ."
      ".  item3 item3 item3 . . . . . . . .";
    padding-left: 0;
    max-width: 1256px;
    margin-left: auto;
    margin-right: auto;
  }

  .crypto-list .crypto-item {
    margin-top: -1rem !important;
    max-width: 276px;
  }

  .crypto-list .crypto-item:nth-of-type(2) {
    margin-top: 0 !important;
  }

  .crypto-list .crypto-item:nth-of-type(3) {
    margin-top: -3rem !important;
  }

  .crypto-list .crypto-item::before {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 156px;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  .crypto-list .crypto-item .title-6 {
    font-size: 1.125rem;
  }

  .crypto-list .crypto-item .text-5 {
    font-size: 1rem;
  }

  .crypto-list .crypto-item .dot {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-color: var(--title-grad-1, #42368e);
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1.125rem var(--bs-white, #ffffff);
    margin-bottom: 2rem;
  }

  .crypto-list .crypto-item:nth-of-type(1) .title-6::before {
    width: 480px;
    height: 184px;
    left: -5rem;
    bottom: 4rem;
  }

  .crypto-list .crypto-item:nth-of-type(3) .title-6::before {
    background-image: url("../images/curve-line-lg.png");
    width: 880px;
    height: 400px;
    bottom: 3rem;
    left: -6rem;
  }

  /* stats */
  .wrapper__calc {
    max-width: 921px;
    margin-left: auto;
    margin-right: auto;
  }

  /* how it works */
  .how-it-works .section-img .card {
    bottom: 2.5rem;
  }

  /*investment  */
  .investment .section-img {
    transform: scale(1);
    margin: auto;
  }

  /* testimonial */
  .testimonial-splider .card .icon {
    left: 1rem;
  }

  /* integrity */
  .section-img-end-auto > img {
    margin-left: unset;
  }

  .section-img-start-auto > img {
    margin-right: unset;
  }
}

@media screen and (min-width: 1200px) {
  /* reboot bootstrap */
  .container,
  .container-xl {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  /* hero */
  .hero .section-img::after {
    width: 710px;
    height: 710px;
    top: 38px;
  }

  /* consider crypto */
  .crypto-list .crypto-item:nth-of-type(1) .title-6::before {
    width: 580px;
    height: 230px;
    left: -2rem;
    bottom: 2rem;
  }

  .crypto-list .crypto-item:nth-of-type(3) .title-6::before {
    width: 1060px;
    height: 446px;
    bottom: 1rem;
    left: -8rem;
    transform: rotate(5deg);
  }

  /* how it works */
  .how-it-works .section-img .card {
    width: 400px;
  }

  /* testimonial */
  .testimonial-splider .card .icon {
    left: 3rem;
  }
}

@media screen and (min-width: 1400px) {
  .hero .section-img::after {
    right: -70%;
  }
}

@media only screen and (max-width: 500px) {
  .bar {
    width: 30px;
    font-size: 12px;
  }

  .img__box {
    top: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .bar {
    width: 24px;
    font-size: 10px;
    padding: 0px;
  }

  .bar__text {
    writing-mode: vertical-lr;
  }
}
