/* reboot bootstrap */
.container,
.container-fluid,
.container-xl {
  padding-left: 20px;
  padding-right: 20px;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown-toggle::after {
  display: none;
}

.progress {
  height: 0.1875rem;
  background-color: var(--progress-bg, #e4e7ec);
  width: 100%;
}

.progress-bar {
  background-color: var(--primary-progress-color, #7f56d9);
}

.modal .btn-close {
  background-color: var(--grey-100, #858b91);
}

.modal .btn-close svg {
  stroke: red;
}

/* custom styles */
:root {
  /* colors */
  --footer-bg: #10102e;
  --list-link: #d6d6d6;
  --title-color: #0f2137;
  --title-grad-1: #42368e;
  --title-grad-2: #10102e;
  --section-bg: #f2f6fc;
  --list-marker: #22437d;
  --list-item: #343d48;
  --testimonial-text: #898989;
  --testimonial-title: #060606;
  --grey-100: #858b91;
  --nav-link: #667085;
  --progress-bg: #e4e7ec;
  --primary-progress-color: #7f56d9;

  /* font families */
  --font-family-inter: "Inter";
  --font-family-lexend-deca: "Lexend Deca";
}

body {
  font-family: var(--font-family-inter, "Inter"), system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--title-color, #0f2137);
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-3,
.text-4,
.text-5,
.text-6 {
  font-weight: 400;
  line-height: 1.75;
}

.text-2 {
  font-size: 1.25rem;
}

.text-3,
.text-4 {
  font-size: 1rem;
}

.text-5 {
  font-size: 0.875rem;
}

.text-6 {
  font-size: 0.75rem;
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  font-weight: 700;
  line-height: 1.25;
  color: var(--title-color, #0f2137);
}

.title-1 {
  font-size: 1.75rem;
}

.title-2 {
  font-size: 1.4375rem;
  margin-bottom: 1.75rem;
  letter-spacing: -1.5px;
}

.title-3,
.title-4 {
  margin-bottom: 1.75rem;
  font-size: 1.25rem;
}

.title-5 {
  font-size: 1.125rem;
}

.title-6 {
  font-size: 1rem;
}

.text-grad {
  background: linear-gradient(180deg, #42368e 20.89%, #10102e 129.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.surplus-btn {
  color: var(--title-grad-1, #42368e);
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.33;
  text-align: center;
  text-decoration: none;
  border: 0.125rem solid var(--title-grad-1, #42368e);
  padding: 1rem 2.875rem;
  display: inline-block;
  background-color: transparent;
  transition: 300ms ease-in;
}

.surplus-btn:hover {
  background-color: var(--title-grad-1, #42368e);
  color: var(--bs-white, #ffffff);
}

.surplus-btn.bg-purple-grad {
  background-color: var(--title-grad-1, #42368e);
  color: var(--bs-white, #ffffff);
}

.surplus-btn.bg-purple-grad:hover {
  background-color: transparent;
  color: var(--title-grad-1, #42368e);
}

/* header main */
.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1040;
  background-color: var(--bs-white, #ffffff);
}

.header-main.scrolled {
  box-shadow: 0 0.25rem 1.5rem 0 rgba(0, 0, 10, 0.1);
  transition: 300ms ease;
}

.navbar-main .container-xl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.brand .logo {
  max-width: 96px;
  height: auto;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 300ms ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -100%;
  width: 100%;
}

.mobile-menu {
  top: 94px;
  left: 0;
  background-color: var(--bs-white, #ffffff);
  flex-direction: column;
  box-shadow: 0 0.75rem 0.875rem 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  opacity: 1;
  visibility: visible;
}

.nav-item-link {
  text-decoration: none;
  color: var(--nav-link, #667085);
  font-weight: 500;
  font-size: 1rem;
}

.nav-item-link:hover {
  color: var(--title-grad-1, #42368e);
}

.cta-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cta-btn {
  border: 1px solid var(--title-grad-1, #42368e);
  border-radius: 0.25rem;
  padding: 0.625rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background: transparent;
  border: 1px solid transparent;
  color: var(--nav-link, #667085);
  transition: 300ms ease;
}

.cta-btn.active,
.cta-btn:hover {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  background: var(--title-grad-1, #42368e);
  color: var(--bs-white, #ffffff);
}

.menu-togger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  border: 0;
  background-color: transparent;
}

.menu-togger span {
  display: inline-block;
  width: 2rem;
  height: 0.1875rem;
  background-color: rgba(15, 33, 55, 1);
  transition: 300ms ease-in;
}

.menu-togger.active span:nth-of-type(1) {
  transform: rotate(45deg) translate(0.375rem, 7px);
}

.menu-togger.active span:nth-child(2) {
  opacity: 0;
}

.menu-togger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0.375rem, -7px);
}

/* hero */
.hero.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
  padding-top: 10rem;
}

.hero .title-5 {
  color: var(--title-grad-1, #42368e);
}

.hero .title-1 {
  margin-bottom: 1rem;
}

.hero .text-3 {
  margin-bottom: 2rem;
}

.hero .surplus-btn {
  margin-bottom: 3.125rem;
}

.hero .section-img {
  position: relative;
  margin-bottom: 3.125rem;
}

.hero .section-img > img {
  width: 288px;
}

.hero .section-img::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 380px;
  background: #675ea4;
  border-radius: 50%;
  right: -50%;
  top: 38px;
  z-index: -1;
}

.hero .section-img::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #675ea4;
  border-radius: 50%;
  left: 15%;
  top: calc(100% + 1rem);
  z-index: -1;
}

/* partners */
.partners {
  background-color: var(--title-grad-1, #42368e);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: -0.5rem;
}

.partners-splide .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.partners-splide .splide__slide .img-fluid {
  max-height: 100%;
  width: auto;
}

.partners-splide.is-initialized:not(.is-active) .splide__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.partners-splide.is-initialized:not(.is-active) .splide__list > * {
  flex: 0 0 45%;
}

/* consider crypto */
.consider-crypto .title-2 {
  text-align: center;
}

.crypto-list {
  display: grid;
  grid-template-areas:
    ". . . item2 item2"
    "item1 item1 item1 item1 ."
    ". . . item4 item4"
    "item3 item3 item3 . ."
    ". . item5 item5 item5";
  counter-reset: item;
  margin-bottom: 3.125rem;
}

.crypto-list .crypto-item {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
}

.crypto-list .crypto-item::before {
  counter-increment: item;
  content: counter(item);
  font-weight: 900;
  font-size: 54.5807px;
  line-height: 55px;
  letter-spacing: -0.02em;
  color: var(--bs-black, #000000);
  opacity: 0.05;
}

.crypto-list .crypto-item:nth-of-type(1) {
  grid-area: item1;
  margin-top: -3rem;
}

.crypto-list .crypto-item:nth-of-type(2) {
  grid-area: item2;
}

.crypto-list .crypto-item:nth-of-type(3) {
  grid-area: item3;
  margin-top: -3rem;
}

.crypto-list .crypto-item:nth-of-type(4) {
  grid-area: item4;
}

.crypto-list .crypto-item:nth-of-type(5) {
  grid-area: item5;
}

.crypto-list .crypto-item .dot {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 1rem;
  background-color: var(--title-grad-1, #42368e);
  border-radius: 0.3125rem;
  box-shadow: 0 0 0 0.75rem var(--bs-white, #ffffff);
  margin-bottom: 0.5rem;
}

.crypto-list .crypto-item .title-6 {
  position: relative;
  margin-bottom: 0;
}

.crypto-list .crypto-item:nth-of-type(1) .title-6::before,
.crypto-list .crypto-item:nth-of-type(3) .title-6::before {
  content: "";
  background-image: url("../images/curve-line.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 176px;
  height: 66px;
  position: absolute;
  bottom: 3rem;
  left: -0.75rem;
  z-index: -1;
}

.crypto-list .crypto-item .text-5 {
  color: var(--list-item, #343d48);
  line-height: 1.36;
}

.crypto-list .crypto-item .text-5:last-child {
  margin-bottom: 0;
}

/* stats */
.stats .title-2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  margin-bottom: 3.125rem;
}

.value__calc {
  color: #403489;
  font-size: 23px;
  text-align: center;
  padding: 10px;
}

.label__calc {
  font-size: 17px;
  text-align: center;
  padding: 10px;
  text-align: center;
  display: block;
  color: #343d48;
}

.output__calc {
  max-width: 200px;
  background-color: #e1e1e6;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
}

.output__calc span {
  text-align: center;
  display: block;
}

.bar__container {
  padding: 10px;
  position: relative;
  margin-top: 120px;
  margin-bottom: 3.125rem;
}

.img__box {
  width: 100%;
  position: absolute;
  top: -55px;
  z-index: -100000;
}

.img__box img {
  display: block;
  width: 100%;
}

.bar__container--list {
  display: flex;
  justify-content: space-between;
  z-index: 100000;
}

.bar__wrapper {
  height: 250px;
  display: flex;
  align-items: end;
}

.bar {
  height: 100%;
  border-radius: 5px;
  width: 50px;
  background: linear-gradient(180deg, #42368e 20.89%, #10102e 129.11%);
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}

.bar__text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 10px;
  display: block;
  color: #fff;
  width: 100%;
}

.slider {
  z-index: -4;
  -webkit-appearance: none;
  padding: 0px !important;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #403489;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #403489;
  cursor: pointer;
}

/* strategy */
.strategy .title-2 {
  text-align: center;
  margin-bottom: 1rem;
}

.strategy .text-6 {
  text-align: center;
  color: var(--grey-100, #858b91);
}

.strategy-splide {
  margin-bottom: 3.125rem;
}

.strategy-splide .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.strategy-splide .splide__slide .img-fluid {
  max-height: 100%;
  width: auto;
}

.strategy-splide.is-initialized:not(.is-active) .splide__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.strategy-splide.is-initialized:not(.is-active) .splide__list > * {
  flex: 0 0 45%;
}

/* how-it-works */
.how-it-works {
  background-color: var(--section-bg, #f2f6fc);
}

.how-it-works .inner-content {
  margin-bottom: 3.125rem;
}

.how-it-works .title-2 {
  text-align: center;
}

.how-it-works .section-img {
  position: relative;
}

.how-it-works .cards {
  display: grid;
  gap: 1.875rem;
}

.how-it-works .card {
  border: 0;
  border-radius: 0.75rem;
}

.how-it-works .card .card-body {
  padding: 1.875rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.how-it-works .card .card-body .title-6 {
  max-width: 210px;
  color: var(--title-color, #0f2137);
  font-size: 1.25rem;
}

.how-it-works .card .card-body .text-5 {
  color: var(--list-item, #343d48);
  font-size: 1rem;
}

.how-it-works .card .card-body .text-5:last-of-type {
  margin-bottom: 0;
}

.how-it-works .card .icon svg {
  height: 2.5rem;
  width: auto;
}

.how-it-works .section-img {
  margin-bottom: 120px;
}

.how-it-works .section-img > img {
  max-width: 264px;
}

.how-it-works .section-img .card {
  width: 300px;
  height: min-content;
  position: absolute;
  bottom: -8rem;
  left: 2.5rem;
}

.how-it-works .section-img .card-body {
  flex-direction: row;
  gap: 0.625rem;
  padding: 1.25rem 0.75rem;
}

.how-it-works .section-img .icon svg {
  height: 1.875rem;
}

.how-it-works .section-img .title-6 {
  font-size: 0.875rem !important;
}

.how-it-works .section-img .text-5 {
  font-size: 0.75rem !important;
}

/* investment */
.investment {
  overflow-x: hidden;
  background-color: var(--section-bg, #f2f6fc);
}

.investment .title-3 {
  max-width: 407px;
}

.investment .content {
  margin-bottom: 3.125rem;
}

.investment .section-img {
  transform: scale(1.275);
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

/* security */
.security .title-2 {
  margin-bottom: 5rem;
  text-align: center;
}

.security .card-list {
  margin-bottom: 3.125rem;
}

.security .card {
  border: 0;
  height: 100%;
}

.security .card .card-body {
  padding: 1.5rem;
}

.security .card.active {
  box-shadow: 0px 39.5463px 79.0927px rgba(15, 33, 55, 0.06);
}

.security .icon {
  margin-bottom: 1rem;
}

.security .icon img {
  height: 2.5rem;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.security .title-4 {
  margin-bottom: 0.75rem;
}

/* testimonial */
.testimonial .content {
  text-align: center;
  max-width: 663px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5rem;
}

.testimonial .title-2 {
  margin-bottom: 1.5rem;
}

.testimonial-splider {
  margin-bottom: 3.125rem;
}

.testimonial-splider .card {
  border: 0;
  position: relative;
  height: 100%;
  transition: 300ms ease-out;
}

.testimonial-splider .card-body {
  padding: 2rem;
}

.testimonial-splider .card .rating-group {
  margin-bottom: 1rem;
}

.testimonial-splider .card .title-5 {
  margin-bottom: 1.5rem;
}

.testimonial-splider .card .icon {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.testimonial-splider .card .icon > svg {
  max-width: 66px;
  height: auto;
}

.testimonial-splider .text-6 {
  margin-bottom: 0;
}

/* crypto-industry */
.crypto-industry {
  background-color: var(--section-bg, #f2f6fc);
}

.crypto-industry .list-items {
  counter-reset: listItem;
}

.crypto-industry .list-items .item {
  display: grid;
  grid-template-columns: 66px 1fr;
  align-items: center;
  gap: 1rem;
  max-width: 330px;
}

.crypto-industry .list-items .item .text-4 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--list-item, #343d48);
}

.crypto-industry .list-items .item::before {
  counter-increment: listItem;
  content: "0" counter(listItem);
  width: 66px;
  height: 66px;
  background-color: var(--bs-white, #ffffff);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-lexend-deca, "Lexend Deca");
  font-weight: 400;
  font-size: 1.625rem;
  color: var(--list-marker, #22437d);
}

/* integrity */
.integrity .content {
  max-width: 466px;
  margin-left: auto;
  margin-right: auto;
}

.section-img > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.integrity .section-img > img {
  width: 420px;
}

.list-items .item {
  display: flex;
  gap: 1.125rem;
  margin-bottom: 1.875rem;
}

.list-items .item > * {
  margin-bottom: 0;
}

.integrity .list-items {
  margin-bottom: 3.125rem;
}

/* footer */
.footer-section {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: var(--footer-bg, #10102e);
}

.footer-section .text-4,
.footer-section .text-5,
.footer-section .text-6 {
  color: var(--list-link, #d6d6d6);
}

.footer-section .text-6 {
  letter-spacing: 0.45px;
}

.widget {
  max-width: 200px;
}

.widget-title {
  color: var(--bs-white, #ffffff);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

.list-link {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--list-link, #d6d6d6);
  text-decoration: none;
  transition: 200ms ease-in;
}

.list-link:hover {
  color: var(--bs-white, #ffffff);
  text-decoration: underline;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-link {
  text-decoration: none;
  color: var(--bs-white, #ffffff);
  font-size: 1.125rem;
}

.social-link:hover {
  color: var(--list-link, #d6d6d6);
}

.footer-section:nth-of-type(2) .text-6:first-of-type {
  padding-top: 30px;
  border-top: 1px solid var(--bs-white, #ffffff);
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item-list .item {
  display: flex;
  gap: 0.75rem;
  max-width: 206px;
}

.footer-section .item .text-6 {
  letter-spacing: -0.02em;
}

.footer-section .item-list .item > img {
  width: 1.25rem;
  height: 1.25rem;
}

.item-list .item > * {
  margin-bottom: 0;
}

.copyright .text-4 {
  text-align: center;
  margin-bottom: 0;
}

/* mission */
.mission .modal-header {
}
